@font-face {
  font-family: Irish Grover;
  src: url(../assets/font/Irish_Grover\,Island_Moments/Irish_Grover);
}
@font-face {
  font-family: Island Moments;
  src: url(../assets/font/Irish_Grover\,Island_Moments/Island_Moments);
}

:root {
  --clr-dark:#070a13;
  --clr-light:#f1f5f9;
  --clr-white:#fff;
  --clr-red:#E82519;
  --clr-lightred:#F94F46;
  --clr-lightblue:#21A0AA;
  --clr-header-txt:#1D1D1D;
  --clr-paragraph:#444444;
  --clr-card-bg:#F4F4F4;
  --primary-color:#fff;

     /* sizes  */
     --size-xxs:0.5rem;
     --size-xs:0.75rem;
     --size-sm:0.875rem;
     --size-base:1rem;
     --size-lg:1.125rem;
     --size-xl:1.25rem;
     --size-2xl:1.5rem;
     --size-3xl:1.875rem;
     --size-4xl:2.25rem;
     --size-5xl:3rem;
     --size-6xl:3.75rem;
     --size-7xl:4.5rem;
     --size-8xl:6rem;
     --size-9xl:8rem;
     --size-10xl:10rem;
}

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 } 
img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
   user-select: none;
}
html{scroll-behavior: smooth;}
strong {color: var(--clr-lightred);} 
b{color: var(--clr-lightblue);}
a{text-decoration: none;}


body::-webkit-scrollbar {
  width: 0.5rem;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--clr-red);
  outline: 1px solid var(--clr-lightred);
}

li {
  list-style: none;
}


.container {
  width: 100%;
  height: 100vh;
}
footer {
  height: 120vh;
}


  .header {
    background-color: var(--primary-color);
  }

  .collapse {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
  }
   .nav__logo-mobile {
    display: none;
   }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
  }

  li {
    position: relative;
  }

  ul li a {
    color: var(--clr-paragraph);
    font-size: 14px;
  }

  ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--clr-lightred);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .nav__icons {
    display: flex;
    gap: 23px;
  }

  .nav__icons img:hover {
    transform: scale(1.4);
    transition: all .7s ease-out;
  }

  .nav-btn {
    width: 67px;
    height: 31px;
    background-color: var(--clr-lightblue);
    transition: all .7s ease-in-out;
    border-radius: 5px;
    border: transparent;
    color: var(--primary-color);
  }

  .nav-btn:hover {
    transform: scale(1.2);
  }



  .taste__page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
  }

  .taste__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .text h1 {
    font-size: var(--size-6xl);
    font-family: Irish Grover, cursive;
    margin-left: 28px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .taste__text p {
    font-size: var(--size-xl);
    width: 80%;
    margin: 30px 28px;
  }
  .btn__wrapper {
    display: flex;
    gap: 25px;
    margin-left: 28px;
  }
  .taste__btn {
    width: 145px;
    height: 37px;
    background-color: var(--clr-lightred);
    border-radius: 5px;
    color: var(--primary-color);
    border: transparent;
    transition: all .8s ease-in-out;
  }
  .taste-border__btn {
    width: 145px;
    height: 37px;
    border: 2px solid var(--clr-lightred);
    border-radius: 5px;
    color: var(--clr-lightred);
    transition: all .8s ease-out;
  }

  .taste__img{
    width: 50%;
    display: flex;
    align-items: center;
  }

  .taste__img img{
    width: 100%;
    height: 100%;
  }




  .about__page {
    width: 80%;
    height: 80%;
    text-align: center;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }
  .about__page span{
    font-size: var(--size-base);
    color: var(--clr-lightred);
  }
  .about__page h1 {
    font-size: var(--size-5xl);
    font-weight: 600;
  }
  .about__page p {
    font-size: var(--size-base);
  }
  
  .service__page {
    text-align: center;
    width: 80%;
    height: 80%;
    margin: 90px auto;
  }

  .service__images {
    display: flex;
    justify-content: space-between;
  }
  .service__page span {
    font-size: var(--size-base);
    color: var(--clr-lightblue);
  }
  .service__page h1 {
    font-size: var(--size-5xl);
    font-weight: 600;
    letter-spacing: 1.7px;
  }
  .img__wrapper {
    margin-top: 70px;
    width: 212px;
    height: 225px;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4);
    box-shadow: 0px 0px 20px #F7F7F7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img__wrapper h4 {
    font-size: var(--size-xl);
  }


  .hungry__page {
    width: 80%;
    height: 80%;
    margin: 50px 140px;
    text-align: center;
  }
  
  .hungry__page span {
    font-size: var(--size-base);
    color: var(--clr-lightred);
  }

  .hungry__page h1 {
    font-weight: 600;
    font-size: var(--size-5xl);
  }
 
  .food-images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .images{
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
  }
  
  .food-image {
    position: relative;
    top: 0;
    left: 0;
  }
  
  .heart__img {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .type_wrapper {
    width: 195px;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
  }
 
  .type {
    text-align: start;
    width: 60%;
    line-height: 0px;
    display: flex;
    flex-wrap: wrap;
  }
  .type h6 {
    color: var(--clr-paragraph);
  }
  .number {
    text-align: end;
  }
  .number p {
    font-size: 14px;
    color: var(--clr-lightred);
  }
  .number .menu-btn {
    width: 71px;
    height: 27px;
    background-color: var(--clr-paragraph);
    color: var(--primary-color);
    border-radius: 5px;
    margin-top: 5px;
    border: transparent;
    transition: all .8s ease-in;
  }
  .number .menu-btn:hover {
    transform: scale(1.3);
    background-color: var(--clr-red);
  }
  .hungry__btn {
    width: 145px;
    height: 37px;
    border: 2px solid var(--clr-lightred);
    border-radius: 5px;
    color: var(--clr-red);
    transition: all .9s ease-in-out;
  }
  .hungry__btn:hover {
    transform: scale(1.3);
    background-color: var(--clr-red);
    color: var(--primary-color);
  }


  .crave__page {
    width: 80%;
    height: 80%;
    margin: auto;
    padding: 90px 0;
    display: block;
    text-align: center;
  }
  
  .crave__page span {
    font-size: var(--size-base);
    color: var(--clr-lightblue);
  }
  .crave__page h1 {
    font-weight: 600;
    font-size: var(--size-5xl);
    letter-spacing: 1.4px;
  }
  .crave__images {
    display: flex;
    justify-content: space-between;
  }
   
  .crave__wrapper {
    width: 212px;
    height: 255px;
    margin-top: 60px;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4);
    box-shadow: 0px 0px 20px #F7F7F7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .crave__wrapper img {
    width: 292px;
    height: 197.5px;
    position: absolute;
    top: 0;
  }

  .crave__wrapper span {
    z-index: 2;
    position: absolute;
    bottom: 15px;
    left: 10px;
    color: var(--clr-paragraph);
    font-size: 17px;
  }
  .crave__wrapper .crave__btn {
    z-index: 2;
    position: absolute;
    bottom: 15px;
    right: 10px;
    width: 56px;
    height: 27px;
    background-color: var(--clr-lightblue);
    color: var(--primary-color);
    border-radius: 5px;
    border: none;
    transition: all .7s ease-in-out;
  }
  .crave__wrapper .crave__btn:hover {
    transform: scale(1.2);
    background-color: var(--clr-lightred);
    color: var(--primary-color);
  }
  .crave-menu__btn {
    width: 88px;
    height: 37px;
    border-radius: 5px;
    border:2px solid var(--clr-lightblue);
    color: var(--clr-lightblue);
    margin-top: 50px;
    transition: all .6s ease-out;
  }
  
   .crave-menu__btn:hover {
    transform: scale(1.3);
    background-color: var(--clr-lightblue);
    color: var(--primary-color);
  }


  .meet__page {
    text-align: center;
    width: 80%;
    height: 80%;
    margin: 0 auto;
  }
  .meet__page span {
    font-size: var(--size-base);
    color: var(--clr-red);
  }

  .meet__page h1 {
    font-size: var(--size-5xl);
    font-weight: 600;
  }

  .meet__images {
    display: flex;
    line-height: 0;
    justify-content: space-between;
  }
  .meet__images span {
    color: var(--clr-dark);
  }


   .customers__page {
    width: 78%;
    height: 50%;
    margin: 90px auto;
    text-align: center;
   }

   .customers__page span {
    font-size: var(--size-base);
    color: var(--clr-lightblue);
   }

   .customers__page h1 {
    font-weight: 600;
    font-size: var(--size-5xl);
    letter-spacing: 2px;
   }
   .carousel {
    width: 33.3%;
    background-color: rgba(128, 128, 128, 0.404);
    border-radius: 5px;
   }
  .c-wrapper {
    display: flex;
    margin-top: 60px;
    width: 100%;
    justify-content: space-between;
    gap: 15px;
    height: 45%;
    padding: 30px 0;
  }
  .personal {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    gap: 15px;
  }
  .carousel p {
    margin:20px 0;
    font-size: 18px;
  }
   

footer {
  background: url(../assets/images/footer-background-map.svg);
  display: flex;
  flex-wrap: wrap;
  margin-top: 15rem;  
}
.contact {
   width: 40%;
   padding: 30px;
   margin-top:7.8rem;
   margin-left:15.5rem;
}
.contact h1 {
  font-size: 60px;
  letter-spacing: 1.4px;
}
.email {font-weight: bold;}
.contact p {width: 76%;}

.question {
  width: 546px;
  height: 479px;
  margin-left: -1rem;
  margin-top: -6rem;
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  box-shadow: 0 0 2px 0 grey;
}

.question h1 {
  font-size:40px;
}
.question label {
  width: 20%;
  align-self: start;
  margin-left: 54px;
  margin-top:10px;
  margin-bottom: 7px;
  font-weight: bold;
}
.question input {
  width: 427px;
  height: 44px;
  align-self: start;
  border-radius: 5px;
  margin-left: 54px;
  padding-left: 8px;
  border: 1px solid lightgray;
}
.question #comments {
  align-self: start;
  margin-left: 54px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.question .ftr-btn {
  width: 427px;
  height: 51px;
  background-color: var(--clr-dark);
  color: var(--clr-white);
  border-radius: 8px;
  margin-top: 3rem;
  align-self: start;
  margin-left: 55px;
}

.question .textarea2{
  display: none;
}

#comments, input:hover 
#comments, input:active {
  outline: none;
  border: none;
}

.social-link-wrapper {
  width: 1184px;
  height: 360px;
  margin-left: 200px;
  background-color: var(--clr-white);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fodzilla {
  width: 50%;
}

.fodzilla p{
  width: 81%;
}
.more, .social{
  margin-right: 110px;
}
.more ul, .social ul{
  display: flex;
  flex-direction: column;
  padding: 0;
}

.fodzilla__img {
  width: 275px;
  height: 115px;
}

.more ul li, .social ul li{
  font-size: 24px;
  line-height: 0.7;
}


.arrow-wrapper {
  display: flex;
  justify-content: center;

}

.up-arrow{
  width: 94px;
  height: 94px;
  border-radius: 50%;
  margin-top: -50px;
  background-color: rgb(255, 253, 253);
  display: flex;
  border: 1px solid lighgray;
  align-items: center;
  justify-content: center;
}





/* xs */
 @media screen and (max-width:600px) {

  .nav__logo {
    display: none;
  }
  .nav__logo-mobile {
    display: flex;
    margin-right: 15px;
   }
   .nav__home {
    text-align: center;
   }
   .collapse {
    display: block;
    margin: 0;
   }
   ul {display: block;}
   ul li a {font-size: 20px;}
   ul li a:hover {color: var(--clr-lightblue);}

   ul li a::after {
    width: 20%;
    left: 40%;
   }
   .nav__icons {
     justify-content: center;
     padding: 0 10px;
   }
   .taste__page {
    flex-direction: column;
    gap: 30px;
    padding: 40px 0;
   }
   .taste__text {
    width: 100%;
    height: auto;
   }
   .text h1 {
    font-size: var(--size-5xl);
    margin-left: 20px;
   }
   .taste__img {
    width: 100%;
    height: auto;
   }
   .about__page {
    width: 100%;
   }
   .about__page h1 {
    font-size: var(--size-5xl);
   }
   .service__page {
    width: 100%;
   }
   .service__images {
    width: 100%;    
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
   }
   .img__wrapper {
    width: 48%;
    margin-top: 20px;
   }
   .hungry__page {
    width: 100%;
    margin: 0;
   }
   .food-images {
    width: 100%;
   }
   .images{
    width: 48%;
   }
   .type{
    display: flex;
    flex-wrap: wrap;
   }
   .type_wrapper {
    width: 80%;
   }
   .crave__page {
    width: 100%;
    padding: 0 10px;
   }
   .crave__images {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 7px;
    width: 95%;
   }
   .crave__wrapper {
    width: 49%;
    padding: 0 10px;
   }
   .crave-menu__btn {
    margin: 10px 0;
   }
   .crave__wrapper span{
     font-size: 14px;
   }
   .meet__page {
    width: 100%;
    margin-top: 40px;
   }
   .meet__images {
    flex-wrap: wrap;
    align-items: center;
   }
   .meet__images span {
    color: var(--clr-dark);
   }
   .meet__image {
    width: 49%;
   }
   .customers__page h1 {
    font-size: 26px;
   }
   .customers__page {
    width: 100%;
     }
   .c-wrapper {
    flex-direction: column;
   }
   .carousel {
    width: 100%;
   }

   footer {
    overflow: hidden;
    height: auto;
   }
    .contact{
     margin: 0;
     width: 100%;
    }
    .question{
     margin: 0;
     width: 100%;
     height: auto;
    }
    .question .email{
      width: 80%;
    }
    .question .ftr-btn {
      margin-left: 50px;
      width: 80%;
    }
    .social-link-wrapper{
     margin: 0;
     flex-direction: column;
     width: 100%;
     height: auto;
    }
    .textarea {
      display: none;
    }
    .textarea2 {
      display: flex;
    }
    
    .fodzilla {
      width: 100%;
      margin: 20px 0;
      text-align: center;
    }
    .fodzilla__img {
      margin-left: 50px;
    }
    .fodzilla p {
      margin-left:30px;
    }
    .wrapper {
      display: flex;
      justify-content: space-between;
    }
    .social {
      margin-left: 90px;
    }
    .arrow-wrapper {
      margin-top: 50px;
    }
   }    


  /* md */
  @media  (min-width:600px) and (max-width:968px) {
     .container{
      max-width: 768px;
    }
    .nav__logo {
      display: none;
    }
   .collapse {
    display: block;
   }
    .nav__logo-mobile {
      display: flex;
      margin-right: 20px;
    }
    ul {
      display: block;
      text-align: center;
      width: 21%;
      margin: 0 auto;
    }
    ul li a {
      font-size: var(--size-3xl);
    }
    .nav__icons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px 0;
    }
    .nav__icons img {
      width: var(--size-4xl);
      height: var(--size-4xl);
    }
    .nav__icons button {
      width: var(--size-8xl);
      height: var(--size-4xl);
    }
    .taste__text h1 {
      font-size: var(--size-4xl);
    }
    .taste__text p {
      font-size: var(--size-xl);
    }
    .taste__img img {
      height: 100%;
    }
    .about__page span {
      font-size: var(--size-xl);
    }
    .about__page h1 {
      font-size: var(--size-6xl);
    }
    .about__page p {
      font-size: var(--size-2xl);
    }
    .service__page span {
      font-size: var(--size-xl);
    }
    .service__page h1 {
      font-size: var(--size-6xl);
    }
    .service__images {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      width: 100%;
    }
    .img__wrapper h4 {
      margin-top: 18px;
    }
    .img__wrapper img {
      width: 100%;
    }
    .hungry__page span {
      font-size: var(--size-xl);
    }
    .hungry__page h1 {
      font-size: var(--size-6xl);
    }
    .food-images {
      justify-content: center;
    }
    .crave__page span {
      font-size: var(--size-xl);
    }
    .crave__page h1 {
      font-size: var(--size-6xl);
    }
    .crave__images {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }
    .meet__page span {
      font-size: var(--size-xl);
    }
    .meet__page h1 {
      font-size: var(--size-6xl);
    }
    .meet__images {
      flex-wrap: wrap;
      justify-content: center;
    }
    .customers__page span {
      font-size: var(--size-xl);
    }
    .customers__page h1 {
      font-size: var(--size-6xl);
    }
    .carousel-card__wrapper {
      display: block;
    }
    .carousel-card {
      width: 100%;
      padding: 30px;
      margin: 15px 0;
    }
  }


    
  /* lg */
  /* @media (min-width:1024px) {
     .container{
      max-width: 1024px;
    }
  } */
  /* xl */
  @media (min-width:1280px) {
     .container{
      max-width: 1280px;
    }
  }
  /* 2xl */
  /* @media (min-width:1536px) {
     .container{
      max-width: 1536px;
    }
  
  } */